.login {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 70px;
  padding-top: 85px;
}
.logout {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 2em;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 20px;
  padding-top: 20px;
}
