@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400&family=Open+Sans+Condensed:wght@300&family=Ranchers&display=swap");

* {
  background-color: #fcdada;
}

.App {
  text-align: center;
  font-family: "Cormorant Unicase", serif;
  padding: 10px 200px;
  background-color: #fcdada;
}

ul {
  text-align: center;
  list-style-type: none;
}

li {
  text-align: center;
  display: inline;
  padding: 0px 100px;
  font-size: 1.5em;
}

h1 {
  text-align: left;
  font-size: 4em;
  color: #3d7ea6;
  margin-bottom: 0;
  font-family: "Ranchers", cursive;
  margin-left: 50px;
}

.r {
  color: #ffa5a5;
}

h2 {
  color: #3d7ea6;
  font-size: 3.5em;
  margin: 90px auto;
  display: block;
  padding: 10px 30px;
  max-width: fit-content;
  background-color: #ffa5a5;
  border-radius: 10px;
  box-shadow: #ffa5a5 0px 8px 24px, #ffa5a5 0px 16px 56px, #ffa5a5 0px 24px 80px;
}

nav {
  text-align: center;
  font-size: 1.5em;
  font-family: "Cormorant Unicase", serif;
}
